<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yan.samux.ikaros.com.savac4k" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".app.AppController">
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".Main"
            android:label="@string/main" >
        </activity>
        <activity
            android:name=".Activity_Learn"
            android:label="@string/title_activity_activity__learn" >
        </activity>
        <activity
            android:name=".clases.cBasico"
            android:label="@string/title_activity_c_basico" >
        </activity>
        <activity
            android:name=".clases.cNumbers"
            android:label="@string/title_activity_c_numbers" >
        </activity>
        <activity
            android:name=".clases.cAnimales"
            android:label="@string/title_activity_c_animales" >
        </activity>
        <activity
            android:name=".clases.cObject"
            android:label="@string/title_activity_c_object" >
        </activity>
        <activity
            android:name=".clases.cCountry"
            android:label="@string/title_activity_c_country" >
        </activity>
        <activity
            android:name=".clases.cGesture"
            android:label="@string/title_activity_c_gesture" >
        </activity>
        <activity
            android:name=".clases.cActions"
            android:label="@string/title_activity_c_actions" >
        </activity>
        <activity
            android:name=".pruebas.PruebaCards"
            android:label="@string/title_activity_prueba" >
        </activity>
        <activity
            android:name=".pruebas.BasePrueba"
            android:label="@string/title_activity_base_prueba" >
        </activity>
        <activity
            android:name=".pruebas.PruebaPicasso"
            android:label="@string/title_activity_prueba_picasso" >
        </activity>
        <activity
            android:name=".pruebas.LOOPJprueba"
            android:label="@string/title_activity_loopjprueba" >
        </activity>
        <activity
            android:name=".pruebas.VolleyPrueba"
            android:label="@string/title_activity_volley_prueba" >
        </activity>
    </application>

</manifest>
